<p>Replace the last part of the URL in the address bar <br>(the bit reading ':string') <br>with a phrase of your choice. 
<p></p>
<p>In upper camelcase, your phrase is:</p>
<p></p>
<p><%= @upper_camelcase %></p>