<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Homework</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/address">address</a></li>
        <li><a href="/upper_camelcase/:string">upper camelcase</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>