body {
        background-color: #66CDAA;
}

p {
    text-align: center;
    color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h2 {
      text-align: center;
      color: white;
      font-family: Verdana, Arial, sans-serif;
      font-size: 45px;
      font-weight: bold;

}